body {
  font-size: 16px;
  background-color: #afd275;
}

a.btn {
  font-size: 1.2em;
  text-decoration: none;
  background-color: #dfdce3;
  border: 1px solid #dfdce3;
  padding: 7px 15px;
  transition: background-color .5s;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px #f7b733;
}

a.btn:hover {
  background-color: rgba(0,0,0,0.2);
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(247,183,51,.60);
  padding: 75px 0 0 0;
  z-index: 9999;
}

nav a.logo {
  position: absolute;
  display: block;
  width: 76px;
  height: 64px;
  background: url(../images/logo.png) no-repeat 0 0;
  top: 5px;
  left: 5px;
}
