@import "general.css";

section.main {
  margin: 1em;
}

div.event {
  cursor: pointer;
  padding: 1em;
  border: 2px solid transparent;
}

div.event:hover {
  background-color: #87ceeb;
  border: 2px solid blue;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px #888888;
}

div.event.selected {
  border: 2px solid black;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px #888888;
  background-color: lightblue;
}

div.event h3 {
  cursor: pointer;
}

div.event img {
  cursor: pointer;
  max-width: 20em;
  max-height: 20em;
  object-fit: scale-down;
}

div.event img.missing-cover-img {
  content:url("../images/missing_cover.png");
}

div.event .btn.event-link {
  margin-left: 5em;
}
