@import "general.css";

section.main {
  margin: 1em;
}

div.select-event {
  margin-left: 1em;
}

div.event {
  cursor: pointer;
  padding: 1em;
  margin: 5px;
  border: 2px solid black;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  transition: all 0.7s ease;
}

div.event:hover {
  margin: 0px;
  box-shadow: 5px 5px 5px #888888;
}

div.event.selected {
  background-color: #87ceeb;
  box-shadow: 2px 2px 2px #888888;
}

div.event h3 {
  cursor: pointer;
}

div.event img {
  cursor: pointer;
  max-width: 20em;
  max-height: 20em;
  object-fit: scale-down;
}

div.event img.missing-cover-img {
  content:url("../images/missing_cover.png");
}

div.event .btn.event-link {
  margin-left: 5em;
}

div.select-restriction {
  margin-left: 1em;
}
